.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Full viewport height */
    text-align: center;
    gap: 20px;
    /* Adds space between elements */
    background-color: #f0f4f8;
    /* Background color covers the entire screen */
}

.logo {
    width: 150px;
    /* Adjust the size of the SVG logo */
    height: auto;
    color: rgb(255, 128, 0);
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: #be02c8;
}


.gif {
    width: 700px;
    /* Set the desired width */
    height: 300px;
    /* Maintain aspect ratio */
    display: block;
    margin: 20px auto;
    /* Center the image */
    border-radius: 400%;
}


.actions {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Space between SignUp and Login */
}

.signUpBoxAlreadyLogin {
    margin: 0;
    font-size: 20px;
    color: #000000;
    /* Optional styling for the message */
}